:root {
    --clr-primary: hsl(22, 100%, 50%);
    --border: 1px solid rgb(224, 224, 224);
    --btm-shadow: 0 3px 3px rgb(224, 224, 224);
    --rgt-shadow: 3px 0 3px rgb(224, 224, 224);
    --top-shadow: 0 -3px 3px rgb(224, 224, 224);
    --shadow: 3px 3px 3px rgb(224, 224, 224);
    --clr-shadow: 0 0 3px 2px hsl(22, 100%, 50%);
    --clr-svg: grey;
    --clr-btn-hvr: rgb(228, 228, 228);
}

html {
    color: var(--clr-primary);
    font-family: 'Courier New', Courier, monospace;
}

body {
    position: relative;
    background-color: #ffffff;
    height: 100vh;

    display: grid;
    grid-template-columns: minmax(250px, 1fr) 5fr;
    grid-template-rows: 1fr 8fr 1fr;
}

button svg {
    pointer-events: none;
}

.flex-column-group {
    display: flex;
    flex-direction: column;
}

dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: 
        translateX(-50%)
        translateY(-50%);
    border: none;
}

dialog::backdrop {
    background-color: black;
    opacity: 0.7;
}

textarea {
    appearance: none;
    width: 300px;
    height: 150px;
    padding: 0.5rem 1rem;
    resize: none;
}

textarea:focus {
  outline: none;
}

.project-dialog {
    width: 100%;
    max-width: 700px;
    height: 3rem;
}

.project-dialog > form {
    display: flex;
    align-items: center;
    height: 100%;
}

.project-dialog button {
    background-color: rgb(57, 129, 57);
    color: white;
    border: none;
    padding-inline: 1rem;
    height: 100%;
}

.project-dialog button:hover {
    background-color: rgb(77, 165, 77);
    cursor: pointer;
} 

.todo-dialog {
    padding: 1rem;
    border-radius: 5px;
    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        color: var(--clr-primary);

        .form-title {
            text-align: center;
            font-size: 2rem;
        }
        input, 
        select {
            font-family: inherit;
            border: var(--border);
            padding: 0.25rem 1rem;
        }
        input:focus,
        select:focus {
            outline: none;
        }
        select {
            text-transform: capitalize;
            background-color: white;
        }
        button {
            padding: 0.5rem;
            border-radius: 5px;
            border: none;
            background-color: green;
            color: white;
            font-weight: 900;
        }
        button:hover {
            background-color: rgb(0, 175, 0);
        }
    }
}

.project-name {
    flex: 1;
    height: 100%;
    border: none;
    padding-inline: 1rem;
}

.project-name:focus {
    outline: none;
}

input[type='checkbox'] {
    position: relative;
    overflow: hidden;
    border-radius: 2px;
    outline: 3px solid inherit;
    background-color: white;
    max-height: 20px;
}

input[type='checkbox']:hover {
    scale: 1.1;
    transition: 0.25s;
}

input[type='checkbox']:checked {
    background-color: white;
}

input[type='checkbox']:checked::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 27px;
    background-color: inherit;
    bottom: 0;
    left: 50%;
    transform-origin: bottom;
    transform: 
        rotate(30deg)
        translateX(-5px)
        translateY(3px);
}

input[type='checkbox']:checked::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    width: 4px;
    height: 10px;
    background-color: inherit;
    bottom: 0;
    left: 50%;
    transform-origin: bottom;
    transform: 
        rotate(-30deg)
        translateX(-4px)
        translateY(-4px);
}

input[type='checkbox']:checked + h3 {
    text-decoration: line-through;
    color: black;
}


header {
    background-color: white;
    position: sticky;
    grid-column: span 2;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: var(--border);
}

svg {
    width: 50px;
    height: 50px;
    fill: var(--clr-primary);
}

nav {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 1.75rem;
    word-spacing: -15px;
    text-shadow: 3px 3px 3px hsl(22, 100%, 50%, 0.5);

    display: flex;
    align-items: center;
    gap: 10px;
}

.action-button {
    border-radius: 50px;
    height: 50px;
    aspect-ratio: 1;
    border: none;
    background-color: inherit;
}

.action-button:hover {
    cursor: pointer;
    background-color: var(--clr-btn-hvr);
}

.sidebar {
    background-color: var(--clr-primary);
    color: white;
    position: relative;
}

.sidebar svg {
    width: 30px;
    height: 30px;
    fill: white;
}

.sidebar ul {
    position: sticky;
    top: 96px;
}

.option {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding-inline-start: 0.5rem;
    padding-block: 0.5rem;
    position: relative;
}

.sidebar ul > *:hover {
    background-color: hsl(22, 100%, 65%);
    cursor: pointer;
}

.sidebar ul > *:hover::before {
    content: "";
    height: 100%;
    left: 0;
    width: 5px;
    background-color: rgb(0, 22, 216);
    position: absolute;
    border-radius: 10px;
}

@media(width < 800px) {
    .sidebar {
        display: none;
    }

    body {
        grid-template-columns: 1fr;
    }

}

#content {
    padding: 2rem;
    color: var(--clr-primary);
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
}

.project {
    border-radius: 10px;
    border: 2px solid var(--clr-primary);
    height: 250px;
    display: flex;
    flex-direction: column;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 2px 10px 1px rgb(194, 189, 189);
    overflow: auto;

    .project-header {
        display: flex;
        padding: 0.5rem 1.5rem;
        border-bottom: 2px solid var(--clr-primary);
        align-items: center;
        justify-content: space-between;
    }

    .project-header > button {
        border-radius: 50px;
        border: none;
        background-color: inherit;
    }

    .project-header > button:hover {
        background-color: var(--clr-btn-hvr);
        cursor: pointer;
    }

    .todos {
        flex: 1;
        display: grid;

        .todo {
            padding: 0.5rem 1rem;
            display: flex;
            align-items: center;
            border-bottom: var(--border);
        }
    }
}

.project:hover {
    transform: translateY(-10px);
    transition: 0.4s ease-out;
    box-shadow: 0 10px 10px rgb(194, 189, 189);
    cursor: pointer;

}

.delete-project-button {
    border-radius: 50%;
}

.delete-project-button:hover {
    overflow: hidden;
}

.delete-project-button > svg {
    fill: red;
}

.delete-project-button:hover > svg {
    fill: white;
    background-color: red;
}

.expanded-project {

    .todos {
        flex: 1;
        display: grid;

        .todo {
            padding: 0.5rem 1rem;
            display: grid;
            gap: 0.5rem;
            grid-template-columns: 1fr 0.5fr;
            grid-auto-rows: min-content;
            align-items: center;
            border-bottom: var(--border);

            .todo-title {
                display: flex;
                gap: 1rem;
                align-items: center;
                grid-row: span 2;
            }

            .todo-properties {
                display: flex;
                grid-column: 2;
                justify-self: center;
                width: 100%;
            }

            .todo-description {
                padding: 0;
                overflow: hidden;
                width: 0;
                max-height: 0;
                border-radius: 5px;
                transition: max-height 0.2s ease;
            }

            .todo-date {
                text-align: end;
            }

            .todo-buttons {
                display: flex;
                gap: 10px;
                opacity: 0;
                justify-self: center;
                * {
                    padding: 2px;
                    display: grid;
                    place-items: center;
                    border: none;
                    background-color: inherit;
                    border-radius: 50%;
                }

                button:hover {
                    svg:nth-of-type(1){
                        transition: scale 0.2s;
                        fill: white;
                        scale: 1.2;
                    }
                }

                svg {
                    width: 30px;
                    height: 30px;
                }
            }

            .todo-title {
                padding-inline-start: 1rem;
            }
        }

        .todo:hover {
            .todo-buttons {
                transition: opacity 0.2s;
                opacity: 1;
            }

            svg {
                fill: rgba(255, 255, 255, 0.397);
            }
        }

    }

}

.add-todo-button {
    border: 2px dashed gray;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    margin: 2px 2px;
    background-color: transparent;
}
.expanded-project .add-todo-button > svg {
    height: 40px;
    width: 40px;
}

.expanded-project:hover .add-todo-button {
    opacity: 0.5;
    svg {
        fill: gray;
    }
}

.expanded-project .add-todo-button:hover {
    border-color: var(--clr-primary);
    opacity: 1;
    cursor: pointer;
    svg {
        fill: var(--clr-primary);
    }
}

.todo.high {
    background-color: rgb(230, 60, 60);
    color: white;

    input[type='checkbox']:checked::after,
    input[type='checkbox']:checked::before {
        background-color: rgb(230, 60, 60);
    } 
}

.todo.medium {
    background-color: orangered;
    color: white;

    input[type='checkbox']:checked::after,
    input[type='checkbox']:checked::before {
        background-color: orangered;
    } 
}

.todo.low {
    background-color: rgb(47, 199, 47);
    color: white;

    input[type='checkbox']:checked::after,
    input[type='checkbox']:checked::before {
        background-color: rgb(47, 199, 47);
    } 
}

.todos .todo.expanded .todo-title {
    grid-row: 1 / 3;
}

.todos .todo.expanded .todo-buttons {
    grid-row: 1 / 3;
}

.todos .todo.expanded .todo-properties {
    grid-row: 3;
    grid-column: 1 / 3;

    display: grid;
    gap: 1rem;
}

.todos .todo.expanded .todo-properties .todo-description {
    display: block;
    grid-row: 1;
    max-height: 150px;
    width: 100%;
    padding: 0.5rem 1rem;
}

.todos .todo.expanded .todo-properties .todo-date {
    grid-row: 2;
}



footer {
    border-top: var(--border);
    grid-column: span 2;
    display: grid;
    place-items: center;
    padding: 2rem;
}

