@font-face {
    font-family: "Oleo Script";
    src: 
        url("./assets/fonts/oleo-scripts/oleoscriptswashcaps-regular.woff") format("woff"),
        url("./assets/fonts/oleo-scripts/oleoscriptswashcaps-regular.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Carattere";
    src: 
        url("./assets/fonts/carattere/carattere-regular-webfont.woff") format("woff"),
        url("./assets/fonts/carattere/carattere-regular-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;    
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin && padding*/
* {
  margin: 0;
  padding: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

:root {
    --font-title: "Oleo Script";
    --font-para: "Carattere";
    --clr-blue: hsl(221, 100%, 32%);
    --clr-blue-light: hsl(221 100% 80%);
}
html {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

body {
    height: 100%;
    position: relative;
}

header {
    height: max-content;
    position: sticky;
    z-index: 1;
    top: 0px;
    background-color: white;
}

.navigation-menu {
  background-color: inherit;
  position: sticky;
  display: flex;
  align-items: center;
  gap: max(2rem ,calc(1rem + 4vw));
  padding-block: 1rem;
  padding-inline: min(7rem, 1rem + 10vw);
}

.navigation-menu .logo-name {
    margin-inline-end: auto;

    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.navigation-menu .logo-name svg {
    min-width: 50px;
}

.navigation-button {
    position: relative;
    padding-inline: 0.5rem;
    border: none;
    background-color: inherit;
    font-weight: 550;
    font-size: 1.15rem;
    min-width: max-content;
    box-shadow: -30px 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    color: transparent;
    background: linear-gradient(to right, var(--clr-blue) 50%, #000000 50%);
    background-size: 200%;
    background-position: right;
    background-clip: text;

    transition: background-position 0.235s ease;
}

.navigation-button:hover {
  background-position: left;
}

.navigation-button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 3px;
  background-color: var(--clr-blue);
  width: 100%;
  border-radius: 100vh;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease;
}

.navigation-button:hover::after {
  transform: scaleX(1);
}

.navigation-button.active {
  background-position: left;
}

.navigation-button.active::after {
  transform: scaleX(1);
}

h1 {
    font-family: var(--font-title);
    font-weight: 100;
    font-size: 2.25rem;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--blue-rgb);
  width: 100%;
}

#content .title {
  border: 5px solid black;
  width: clamp(800px, 80%, 1200px);
  padding-block: 1rem;
  padding-inline: 2rem;
  text-align: center;
  border-radius: 20px 20px 0 0;
  justify-self: center;
  border-bottom: 0;
  font-family: var(--font-title);
  font-size: 2.25rem;
  text-align: center;
  font-weight: 100;
}

#content .portrait {
  width: 100%;
  display: grid;
  place-items: center;
  background-color: var(--clr-blue-light);
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  height: max-content;
}

.grid-container {
  width: clamp(800px, 80%, 1000px);
  scale: 1;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, minmax(calc(100% / 12), 5rem));
  grid-auto-rows: 1fr;
  height: min-content;
}

img {
  width: 100%;
  height: 100%;
}

.portrait p {
  font-family: var(--font-para);
  font-size: 3rem;
  word-wrap: break-word;
}

.horizontal-description {
  grid-area: 2 / 7 / 5 / -1;
  padding-inline-start: 1.5rem;
}

.horizontal {
  grid-area: 2 / 1 / 5 / 7 ;
  border-radius: 0 20px 20px 20px;
}

.vertical-description {
  grid-area: 6 / 1 / 12 / span 7;
  padding: 1.5rem;
}

.vertical {
  grid-area: 6 / 8 / span 6 / -1;
  border-radius: 20px 0 20px 20px;
}

#content .menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-blue-light);
}

.menu .menu-section {
  width: clamp(800px, 80%, 1000px);
  position: relative;
  padding: 2rem;
  font-size: 2rem;
  color: var(--clr-blue);
}

.menu .menu-item {
  background-color: white;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 1px 1px 7px 0 var(--clr-blue);

  display: grid;
  grid-template-columns: 1fr 50px;
  grid-template-rows: max-content 1fr;
  align-items: center;
  column-gap: 1rem;
}

.menu .item-description {
  color: grey;
  font-size: 1.5rem;
}

.menu .item-price {
    grid-area: 1 / 2 / span 2 ;
}

#content .contact-div {
  background-color: var(--clr-blue-light);
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.contact-div .contact-card {
  border: none;
  background-color: white;
  border-radius: 20px;
  padding: 2rem;
  width: clamp(800px, 80%, 1000px);
  box-shadow: 1px 1px 7px 0 var(--clr-blue);
}

.contact-card .contact-title {
  font-size: 1.5rem;
  color: var(--clr-blue);
}

.contact-card .contact-info {
  font-size: 1rem;
}

footer {
  height: 5rem;
  background-color: var(--clr-blue);
  color: var(--clr-blue-light);

  display: grid;
  place-items: center;
}

footer p {
  font: inherit;
}

footer a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}